<h1>Rss Feeds for <%=@rss.source.domain_name%></h1>

<ul>
        <li>Feed Url : <%=@rss.url%></li>
        <li>Valid : <%=@valid%></li>
        <li>Links Found : <%=@count%></li>
        <li>Links Error : <%=@error_count%></li>
        <li>Exception Message : <%=@exception%></li>
        <li>Exception Details : <%=@exception_details%></li>
</ul>
